* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #4e4b5c;
  color: #c2d3cd;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

header {
  background-color: #847e89;
  padding: 30px 20px;
}

.cardsDisplay {
  flex: 1;
  margin-top: 26px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 26px));
  padding: 20px;
  gap: 26px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #afbfc0;
  color: #56494c;
  height: 300px;
  width: 200px;
  border-radius: 8px;
  padding-bottom: 10px;
}

.card img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card h2 {
  margin: 10px 0;
}

footer {
  width: 100%;
  text-align: center;
  padding: 60px 0 20px;
}
